<app-navbar>
  <div class="page-bandeja">
    <ng4-loading-spinner [timeout]="300000"></ng4-loading-spinner>
    <mat-grid-list cols="12" rowHeight="417px">
      <mat-grid-tile class="chart-grid" [responsiveRows]="{xs: 12, sm: 12, md: 4, lg: 4, xl: 5}">
        <!-- <div class="container"> -->
        <!-- <div class="row"> -->
        <!-- <div class="col-ss-12 col-xs-12 col-sm-4 col-md-4 col-lg-5"> -->
        <mat-card class="home-card">
          <mat-card-header>
            <mat-card-title>Efectivo</mat-card-title>
            <mat-card-subtitle>Monto actual:
              <ng-container *ngIf="cargando">
                <div class="lds-ellipsis">
                  <div style="background-color: royalblue;"></div>
                  <div style="background-color: royalblue;"></div>
                  <div style="background-color: royalblue;"></div>
                  <div style="background-color: royalblue;"></div>
                </div>
              </ng-container>
              <ng-container *ngIf="!cargando">
                S/.{{saldoActual.monto | number:'1.2-2'}}
              </ng-container>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="tv-panel">
              <span>Egreso diario por categorias</span>
              <div class="detalle-tv-panel">
                <div *ngFor="let item of sumaCategoria">
                  <mat-checkbox [(ngModel)]="item.mostrar" [disabled]="item.deshabilitado" (change)="$event ? realizarCalculo() : null">
                    {{item.label}}:
                  </mat-checkbox>
                  <b matTooltip="{{item.data | number: '1.2-2'}}" #tooltip="matTooltip" (click)="tooltip.toggle()">S/.{{item.promedio | number: '1.2-2'}}</b>
                </div>
              </div>
            </div>
            <div class="tv-soporte"></div>
            <div class="tv-plataforma"></div>
            <p>
              Control financiero.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button [routerLink]="[ '/intranet/bandeja-egresos']" color="primary" mat-raised-button>Egresos</button>
            <button [routerLink]="[ '/intranet/cuenta-banco']" mat-raised-button>Cuentas</button>
          </mat-card-actions>
        </mat-card>
        <!-- </div> -->

      </mat-grid-tile>
      <mat-grid-tile class="chart-grid" [responsiveRows]="{xs: 12, sm: 12, md: 8, lg: 8, xl: 7}">
        <!-- <div class="col-ss-12 col-xs-12 col-sm-8 col-md-8 col-lg-7"> -->
        <mat-card class="home-card">
          <mat-card-header>
            <mat-card-title style="flex: content;">
              Estadistica por tipo egreso
              <mat-progress-spinner [diameter]="20" color="primary" mode="indeterminate" *ngIf="cargandoPieChart">
              </mat-progress-spinner>
            </mat-card-title>
            <mat-card-subtitle>Mayor:
              <ng-container *ngIf="cargandoPieChart">
                <div class="lds-ellipsis">
                  <div style="background-color: royalblue;"></div>
                  <div style="background-color: royalblue;"></div>
                  <div style="background-color: royalblue;"></div>
                  <div style="background-color: royalblue;"></div>
                </div>
              </ng-container>
              <ng-container *ngIf="!cargandoPieChart">
                {{tipoEgresoMayor.label}} (S/.{{tipoEgresoMayor.data | number:'1.2-2'}})
              </ng-container>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="chart-container">
            <canvas id="pieChart"></canvas>
          </mat-card-content>
        </mat-card>
        <!-- </div> -->
      </mat-grid-tile>
    </mat-grid-list>

    <!-- </div>
    </div> -->

    <mat-card class="chart-card">
      <mat-card-header>
        <mat-card-title>Linea de egresos
          <mat-progress-spinner [diameter]="20" color="primary" mode="indeterminate" *ngIf="isLoadingLine">
          </mat-progress-spinner>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="normal-chart" style="height: 500px;">
          <canvas id="lineChart"></canvas>
        </div>
        <div class="medium-chart" style="height: 400px;">
          <canvas id="lineChart2"></canvas>
        </div>
        <div class="small-chart" style="height: 300px;">
          <canvas id="lineChart3"></canvas>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="bar-chart">
      <mat-card-header>
        <mat-card-title>Barra de egresos
          <mat-progress-spinner [diameter]="20" color="primary" mode="indeterminate" *ngIf="isLoadingBar">
          </mat-progress-spinner>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="normal-chart" style="height: 500px;">
          <canvas id="barChart"></canvas>
        </div>
        <div class="medium-chart" style="height: 400px;">
          <canvas id="barChart2"></canvas>
        </div>
        <div class="small-chart" style="height: 300px;">
          <canvas id="barChart3"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</app-navbar>