@import "../../../../../assets/styles/scss/views/table";

.page-vehiculo {
  .table-resultados {
    // margin-bottom: 0px;
    .table-container {
      max-height: 400px;
    }
  }
}

@include mat-table-columns(
  (
    id: (
      width: 2rem
    ),
    nomTipoEgreso: (
      width: 12rem
    ),
    nombre: (
      width: 12rem
    ),
    nomUnidadMedida: (
      width: 9rem
    ),
    cantidad: (
      width: 9rem
    ),
    precio: (
      width: 6rem
    ),
    total: (
      width: 6rem
    ),
    dia: (
      width: 6rem
    ),
    fecha: (
      width: 6rem
    ),
    opt: (
      width: 10rem
    )
  )
);