::ng-deep .success-snackbar {
  background: #3FC0A5;
}

::ng-deep .error-snackbar {
  background: #E96052;
}

::ng-deep .warning-snackbar {
  background: #F3A72D;
}

::ng-deep .info-snackbar {
  background: #4BA3DE;
}
